<div>
    <h2>Counter</h2>
    <p>Current Count: <span id="counter">0</span></p>
    <button onclick="increment()">Increment</button>
    <button onclick="decrement()">Decrement</button>
</div>


<script>
    let script = '';
    let state = {};
    let count = 0;
    function increment() {
        count++;
        updateCounter();
    }
    function decrement() {
        count--;
        updateCounter();
    }
    function updateCounter() {
        const counterElement = document.getElementById('counter');
        if (counterElement) {
            counterElement.innerHTML = count;
        }
    }

</script>